[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "==8.26.0"

[packages]
django = "==5.0.6"
djangorestframework = "==3.15.2"
django-cors-headers = "==4.4.0"
django-filter = "==24.2"
djangorestframework-simplejwt = "==5.3.1"
django-choices-field = "==2.3.0"
psycopg = "==3.2.1"
strawberry-graphql-django = "==0.46.2"
redis = {extras = ["hiredis"], version = "==5.0.7"}
pyyaml = "==6.0.1"
uritemplate = "==4.1.1"
inflection = "==0.5.1"
gunicorn = "==22.0.0"
supervisor = "==4.2.5"

[requires]
python_version = "3.12"
